codealike.json

buildvenv/

debian/.debhelper/
debian/omission
debian/debhelper-build-stamp
debian/files
debian/omission.substvars

# Created by https://www.gitignore.io/api/snapcraft

### Snapcraft ###
# Snapcraft
parts/
prime/
stage/
*.snap

# End of https://www.gitignore.io/api/snapcraft

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
release/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.AppImage
*.tar.gz

# IDLE
.idea/

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec
!omission.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# IPython Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# dotenv
.env

# virtualenv
venv/
buildvenv/
ENV/

# Spyder project settings
.spyderproject

# Rope project settings
.ropeproject

# Flatpak
.flatpak-builder/
flatpak/

# Inno Setup
Output/
