include README.md LICENSE.md
include src/omission/resources/audio/*.ogg
include src/omission/resources/content/*.txt
include src/omission/resources/font/open-dyslexic/*.otf
include src/omission/resources/font/orbitron/*.otf
include src/omission/resources/font/source-sans-pro/*.otf
include src/omission/resources/icons/*.png
include src/omission/interface/omission.kv
