[Desktop Entry]
Version=1.0
Name=Omission
Comment=A deceptively simple word puzzle.
Exec=/opt/omission/Omission.AppImage
Icon=/opt/omission/omission.png
Type=Application
Categories=Game;LogicGame;
Terminal=false