Source: omission
Maintainer: Jason C. McDonald <indeliblebluepen@gmail.com>
Section: games
Priority: optional
Build-Depends:
 debhelper (>= 9),
 ffmpeg,
 git,
 gstreamer1.0-plugins-base,
 gstreamer1.0-plugins-good,
 libavcodec-dev,
 libavformat-dev,
 libgstreamer1.0-dev,
 libportmidi-dev,
 libsdl2-dev,
 libsdl2-image-dev,
 libsdl2-mixer-dev,
 libsdl2-ttf-dev,
 libswscale-dev,
 python3 (>= 3.5),
 python3-dev (>= 3.5),
 upx-ucl,
 virtualenv,
 zlib1g-dev,
Standards-Version: 4.1.0

Package: omission
Architecture: any
Pre-Depends:
 ${misc:Pre-Depends},
Depends:
 ${misc:Depends},
 ${python3:Depends},
 python3-minimal,
Description: A deceptively simple word puzzle.
 Omission challenges you to put your language detective skills to the test with a deceptively simple challenge - Find the missing letter! It's a race to beat the clock (unless you choose another mode) as you try to complete as many passages as you can. The faster you answer, the more points you gain.
