[Desktop Entry]
Version=1.0
Name=Omission
Comment=A deceptively simple word puzzle.
Exec=Omission
Icon=omission
Type=Application
Categories=Game;LogicGame;
Terminal=false
